<!DOCTYPE html>
<html lang="en">

<head>
  <title>Post an item</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/new-item.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/item-page.css" />

  <!-- External Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Poppins&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap"
    rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

    <main class="individualItemContainer">

      <!-- Left Column / Item Image -->
      <div class="left-column">
        <img src="<%=item.photo_url%>">
      </div>

      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <span class="category">
            <%=item.category%>
          </span>
          <h1>
            <%=item.title%>
          </h1>
          <p>
            <%=item.description%>
          </p>
          <p>
            Condition: <%=item.condition%>
          </p>
        </div>

        <div>
          <!-- Product Pricing -->
          <div class="product-price">
            <span>$<%=item.price_per_item%></span>
          </div>

          <div class="message-box">
            <label for="message">Contact Seller</label>
            <textarea placeholder="Hi, I'm interested! Please contact me if this is still available." name="message" id="message" cols="30"
              rows="3"></textarea>
          </div>

          <a href="#" class="send-message">Send Message</a>
        </div>


    </main>

</body>

</html>
