<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Ads</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/my_ads.css" />

  <!-- External Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Poppins&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <!-- <script defer src="/scripts/app.js"></script> -->
</head>

<body>
  <%- include('partials/_header') %>
  
  <div class="main-container">
    <div class="page-label">
      <h1>My Ads</h1>
    </div>

    <div class="item-container" id="items">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Ad</th>
            <th scope="col">Sold</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% for (let item of itemList) { %>
            <tr>
              <td><img class='item-thumb' src="<%= item.photo_url %>" alt=""></td>
              <td><span><%= item.title %></span></td>
              <td>
                <% if (item.sold) { %>
                  <input type="checkbox" id="sold" name="sold" value="sold" checked>
                <% } else { %>
                  <input type="checkbox" id="sold" name="sold" value="sold">
                <% } %>
              </td>
              <td><form method="GET" action="/items/<%= item.id %>"><button class="btn">Edit</button></form></td>
              <td><form method="POST" action="/items/<%= item.id %>?_method=DELETE"><button class="btn">Delete</button></form></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="to-top">
      <div class="top">
        <p>TOP</p>
      </div>
    </div>
    
    <div class="load-more">
      <button class="load-button">Load More</button>
    </div>
  </div>


  <%- include('partials/_footer') %>
</body>

</html>
